@import "~bootstrap/scss/bootstrap";

header{
   .box-header{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo-header{
        width: 70px;
        height: 70px;
        img{
            width: 100%;
        }
    }
    .item{
        font-size: bold;
    }
    .input-header{
        border-bottom: 4px solid #0C7CEC;
    }
   }
   .bottom-header{
    margin-top: 20px;
    background-image: url("../img/jumbotron.jpg");
    height: 500px;
    object-fit: cover;
    background-position: top;
    div{
        height: 100%;
        position: relative;
        .blu-button{
            color: white;
            background-color: #0C7CEC;
            text-align: center;
            border: 1px solid #0C7CEC;
            position: absolute;
            bottom: -15px;
    
        }
    }
        
   }
}
main{
    background-color: black;
    width: 100%;
    padding-top: 30px;
    .bg-bo-main{
       div{
        .card-p{
            background-color: black !important;
            padding: 0px !important;
        }
       
       }
       
    }
    .box-button{

    padding-left: 44%;
        .blu-button{
            color: white;
            background-color: #0C7CEC;
            text-align: center;
            border: 1px solid #0C7CEC;
        }

    }
    
}
footer{
    .box-footer-top{
        background-color: #0C7CEC;
        div{
            .item-box{
                div{
                    width: 100px;

                    img{
                        width: 100%;
                    }
                }
                div{
                    p{
                        color: white;
                    }
                }
            }
        }
    }
    .bg-main-footer{
        background-image: url("../img/footer-bg.jpg");
    }
    .main-footer-right{
        background-image: url("../img/dc-logo-bg.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 400px;
        width: 400px;
    }
    .bg-footer-bottom{
        background-color: #303030;
       .button-footer{
        color: white;
        background-color: #303030;
        border: 2px solid #0C7CEC;
       }
       .follow-us{
        color: #0C7CEC;
       }
    }
};